{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div style="color: red; margin-left: 20%;">{{error}}</div>
    {% endfor %}
    {% endif %}
    <form action="" method="post" novalidate class="logform">
        {% csrf_token %}


        {% for fm in form %}
        {{fm.label_tag}} <br>
        {{fm}}
        {{fm.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="Login" class="logbtn">
    </form>
    <a href="{% url 'signup' %}"><button class="signbtn">Signup</button></a>


</body>

</html>